@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base font and layout settings for the entire document */
:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
body {
  @apply min-h-screen bg-neutral-300 font-sans text-gray-800 antialiased;
}
